src/1. Layers/1.5 ACL/Well.TranSend/Schemas/TransendPHRoutesSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RouteDeliveries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Routes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="RouteHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CompanyID" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                    <xs:element name="RouteNumber" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                    <xs:element name="RouteDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="DriverName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="VehicleReg" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="StartDepotCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedRouteStartTime" type="xs:string"  minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedRouteFinishTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedDistance" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedTravelTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedStops" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                    <xs:element minOccurs="0" name="EntityAttributes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="Value1" type="xs:string" minOccurs="1" maxOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Stops" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="1" maxOccurs="unbounded" name="Stop">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="PlannedStopNumber" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="PlannedArriveTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="PlannedDepartTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="TransportOrderRef" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="SpecialInstructions" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="StartWindow" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="EndWindow" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="TextField1" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TextField2" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TextField3" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="TextField4" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="Account">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Code" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                                      <xs:element name="AccountTypeCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                      <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Address1" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Address2" type="xs:string" minOccurs="0"/>
                                      <xs:element name="PostCode" type="xs:string" minOccurs="0"/>
                                      <xs:element name="ContactName" type="xs:string" minOccurs="0"/>
                                      <xs:element name="ContactNumber" type="xs:unsignedInt" minOccurs="0"/>
                                      <xs:element name="ContactNumber2" minOccurs="0"/>
                                      <xs:element name="ContactEmailAddress" type="xs:string" minOccurs="0"/>
                                      <xs:element name="StartWindow" type="xs:string" minOccurs="0"/>
                                      <xs:element name="EndWindow" type="xs:string" minOccurs="0"/>
                                      <xs:element name="Latitude" type="xs:decimal" minOccurs="0"/>
                                      <xs:element name="Longitude" type="xs:decimal" minOccurs="0"/>
                                      <xs:element name="IsDropAndDrive" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Attribute">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Code" type="xs:string" />
                                            <xs:element name="Value1" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="1" maxOccurs="1" name="Jobs">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="1" maxOccurs="unbounded" name="Job">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Sequence" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="JobTypeCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="JobRef1" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="JobRef2" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="JobRef3" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="JobRef4" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="OrderDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="Originator" type="xs:unsignedShort" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="TextField1" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="TextField2" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="EntityAttributes">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="Code" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                        <xs:element name="Value1" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="JobDetails" minOccurs="1">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="JobDetail">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="LineNumber" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="Barcode" type="xs:unsignedInt" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="OriginalDespatchQty" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="ProdDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="OrderedQty" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="SkuWeight" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="SkuCube" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="UnitMeasure" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="TextField1" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="TextField2" type="xs:unsignedByte" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="TextField3" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="TextField4" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="TextField5" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="SkuGoodsValue" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityAttributes">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="Code" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                    <xs:element name="Value1" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>