src/1. Layers/1.2 Services/Well.Services/Schemas/TransendPHEpodSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RouteDeliveries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SimNumber" />
              <xs:element name="TransmissionMethod" />
              <xs:element name="DestinationFolder" />
              <xs:element name="SubmissionNo" />
              <xs:element name="RetryInterval" />
              <xs:element name="Timeout" />
              <xs:element name="Stamp" type="xs:unsignedByte" />
              <xs:element name="Fallback">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TransmissionMethod" />
                    <xs:element name="DestinationFolder" />
                    <xs:element name="RetryInterval" />
                    <xs:element name="Timeout" />
                    <xs:element name="Stamp" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reasons" />
              <xs:element name="Date">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Day" type="xs:string" />
                    <xs:element name="Month" type="xs:string" />
                    <xs:element name="Year" type="xs:string" />
                    <xs:element name="Time" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PDAVersionNumber" />
              <xs:element name="Authorised" type="xs:string" />
              <xs:element name="DeviceTypeCode" />
              <xs:element name="DeviceCode" />
              <xs:element name="IsWasteLicenced" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Routes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RouteHeader">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="RouteHeaderID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="CompanyID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="RouteNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="RouteDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PlannedStops" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ActualStopsCompleted" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="RouteStatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="RouteStatusDescription" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="PerformanceStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="PerformanceStatusDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="AuthByPass" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NonAuthByPass" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ShortDeliveries" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DamagesRejected" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DamagesAccepted" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="NotRequired" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="DriverName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Depot" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Stops">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Stop" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StopID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="RouteHeaderID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="ByPassReasonID" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="PlannedStopNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="TransportOrderRef" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="StopStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="StopStatusDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="PerformanceStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="PerformanceStatusDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="ShellActionIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="CustomerShopReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="AllowOvers" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="CustUnatt" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="PHUnatt" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                <xs:element name="Jobs">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Job" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="JobID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="StopID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="ByPassReasonID" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="Sequence" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="PHAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="PickListRef" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="InvoiceNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="CustomerRef" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="GrnNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="GrnRefusedReason" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="GrnRefusedDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="PerformanceStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="PerformanceStatusDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="OrderDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                            <xs:element name="Originator" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="JobTypeCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="Reason_ReasonCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                            <xs:element name="JobDetails">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="1" maxOccurs="unbounded" name="JobDetail">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="JobDetailID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="JobID" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="PHProductCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="UnitMeasure" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="OriginalDespatchQty" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="LineNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="LineStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="ProdDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="OrderedQty" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                        <xs:element name="DeliveredQty" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="ShortQty" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="PHProductType" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="PackSize" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="SingleOrOuter" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="SSCCBarcode" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="SubOuterDamageTotal" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="SkuGoodsValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                        <xs:element name="JobDetailDamages" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                                              <xs:element name="JobDetailDamage" minOccurs="0" maxOccurs="1">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element name="Qty" type="xs:string"  minOccurs="1" maxOccurs="1"/>
                                                                    <xs:element name="Reason" minOccurs="0" maxOccurs="1">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="ReasonCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                                          <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element name="Source" minOccurs="0" maxOccurs="1">
                                                                      <xs:complexType>
                                                                        <xs:sequence>
                                                                          <xs:element name="ReasonCode" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                                                                          <xs:element name="Description" type="xs:string"  minOccurs="0" maxOccurs="1"/>
                                                                        </xs:sequence>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>